.git/
.github/
.vs/

**/bin/
**/obj/
**/*.user
**/*.suo

Homiee-Frontend/node_modules/
Homiee-Frontend/dist/
Homiee-Frontend/.vite/

Homiee/internal-nlog-*.txt
**/*.log

Homiee/appsettings.Secrets.json
.env
